.scrollBtnContainer {
  position: fixed;
  bottom: 20px;
  right: 10px;
  z-index: 30px;
  transition: 0.5s;
  color: var(--btn);
  font-size: 28px;
}
.hide {
  right: -50px;
  transition: right 0.5s;
  visibility: hidden;
}
