.container {
  background-color: var(--secondary);
  position: relative;
}
.reviews {
  width: 80%;
  margin: auto;
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.content {
  text-align: center;
}
.content p:first-of-type {
  font-weight: 500;
  font-size: 18px;
  color: #222;
}
.content p:last-of-type {
  font-size: 18px;
  padding: 0 60px;
}
.content h2 {
  font-size: 35px;
  line-height: 1.2;
  color: white;
  margin: 20px 0;
}
@media (max-width: 768px) {
  .content p:last-of-type {
    font-size: 18px;
    padding: 20px;
  }
}
