.versionContianer {
  background-color: var(--secondary);
  position: relative;
  margin-bottom: 50px;
}
.container {
  width: 80%;
  margin: auto;
  padding: 60px 100px;
  text-align: center;
}
.container h2 {
  color: white;
  margin-bottom: 10px;
  font-size: 45px;
  font-weight: 600;
}
.container p {
  font-size: 17px;
  color: #222;
}
@media (max-width: 768px) {
  .container {
    padding: 40px 10px;
  }
  .container h2 {
    font-size: 30px;
  }
}
