/* .container {
  display: flex;
  width: 100%;
  max-width: 100%;
}

.slugPost .relatedPost > div {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 20px;
}
.slugPost .relatedPost .blog {
  margin-bottom: 20px;
  padding-bottom: 20px;
  height: 490px;
}

.slugContainer h1 {
  color: #222;
  text-align: center;
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 20px;
  text-transform: capitalize;
  background-color: var(--btn);
  padding: 20px;
}
.subCategorieLinks {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 20px;
}
.subCategorieLinks a {
  background-color: var(--btn);
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
}
.allBlogs {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}
.allBlogs .blogTitle {
  max-width: 100%;
  overflow-wrap: break-word;
  margin: auto;
}
.singleBlog {
  padding: 10px;
  width: 100%;
  background-color: #eee;
  border-radius: 5px;
}
.singleBlog .description a {
  color: var(--main);
  text-decoration: underline;
}

.imageContainer {
  position: relative;
  width: 100%;
  height: 200px;
}
.imageContainer::after {
  position: absolute;
  content: "made4cloud.com";
  top: 10px;
  right: 10px;
  color: var(--main);
  font-size: 12px;
  font-weight: 500px;
  z-index: 60;
}
.imageBigContainer {
  height: 400px;
  position: relative;
  width: 100%;
}
.imageBigContainer::after {
  position: absolute;
  content: "made4cloud.com";
  top: 15px;
  right: 10px;
  color: var(--main);
  font-size: 16px;
  font-weight: 500px;
  z-index: 60;
}
.singleBlog .category,
.blog .category {
  font-size: 16px;
  margin-bottom: 5px;
  text-transform: capitalize;
  padding: 5px;
  color: #222;
  width: 100%;
  text-align: center;
}
.title {
  font-weight: 600;
  color: var(--main);
  font-size: 30px;
  margin: 15px 0;
  text-transform: capitalize;
}

.readAllLink {
  font-size: 12px;
  color: var(--btn);
  text-decoration: underline;
}

.blog {
  height: 490px;
  background-color: #eee;
  border-radius: 5px;
  padding: 10px;
}

.singleBlog pre,
.singleBlog code {
  font-size: 14px;
  color: #333;
  padding: 10px;
  max-width: 100%;
  white-space: pre-wrap;
}

.singleBlog pre {
  max-width: 100%;
}

.blog .category {
  margin-bottom: 5px;
  text-transform: uppercase;
  padding: 5px;
}

.blog .description {
  width: 100%;
  font-size: 14px;
  padding: 0 5px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  white-space: normal;
  text-transform: capitalize;
}
.containerSingleBlog .description {
  width: calc(100vw - 300px);
  overflow-wrap: break-word;
}
.containerSingleBlog .description ul li {
  list-style-type: disc;
}
.containerSingleBlog .description ol li {
  list-style-type: decimal;
  list-style-position: inside;
}

.containerSingleBlog .description ul li p {
  display: inline;
}
.containerSingleBlog .description ol li p {
  display: inline;
}
.blog h3 {
  color: var(--main);
  text-align: center;
  padding: 0 5px;
  text-transform: capitalize;
  font-size: 17px;
  font-weight: 600;
  margin: 10px 0;
}
.blog span,
.slugContainer span {
  color: gray;
  margin-top: 10px;
  padding: 10px;
  font-size: 14px;
  display: block;
}
.readAllLink {
  font-size: 14px;
  color: #222;
  font-weight: 700;
  text-decoration: underline;
  padding-left: 10px;
}

.relatedPost h2 {
  font-size: 24px;
  color: var(--main);
  text-align: center;
  margin: 30px;
}

.titleOverLay {
  position: absolute;
  top: 70px;
  z-index: 30;
  left: 50%;
  transform: translateX(-50%);
  color: var(--main);
  font-weight: 900;
  width: 100%;
  font-size: 40px;
  text-align: center;
  margin: 0;
  max-width: 80%;
  overflow-wrap: break-word;
}
.relatedPost .titleOverLay {
  position: absolute;
  top: 50px;
  z-index: 30;
  left: 0;
  color: var(--main);
  font-weight: 500;
  max-width: 100%;
  font-size: 18px;
  text-align: center;
  margin: 0;
}

@media (max-width: 992px) {
  .singleBlog .title {
    font-size: 20px;
  }
  .singleBlog .title,
  .singleBlog p {
    padding: 5px;
  }
  .slugPost {
    flex-direction: column;
    gap: 30px;
  }
  .titleOverLay {
    font-size: 25px;
  }
}

@media (max-width: 768px) {
  .container {
    display: block;
  }
  .containerSingleBlog .description {
    width: calc(100vw - 60px);
    overflow-wrap: break-word;
    margin: auto;
  }
  .singleBlog {
    margin-top: -100px;
  }
  .singleBlog .title {
    width: calc(100vw - 60px);
    overflow-wrap: break-word;
    margin: auto;
  }
  .slugContainer {
    width: 100%;
    margin: auto;
  }
  .containerSingleBlog {
    margin-top: 135px;
  }
  .imageContainer,
  .imageBigContainer {
    position: relative;
    width: 100%;
    height: 200px;
  }
  .singleBlog .description {
    font-size: 14px;
  }
  .singleBlog pre,
  .singleBlog code {
    font-size: 12px; /* Decrease font size on smaller screens */
/* }

  .titleOverLay {
    font-size: 20px;
  }
}
@media (max-width: 465px) {
  .container {
    display: block;
  }
  .containerSingleBlog .description {
    width: calc(100vw - 30px);
    overflow-wrap: break-word;
    margin: auto;
  }
  .singleBlog .title {
    width: calc(100vw - 60px);
    overflow-wrap: break-word;
    margin: auto;
  }
  .slugContainer {
    width: 100%;
    margin: auto;
  }
  .containerSingleBlog {
    margin-top: 135px;
  }
  .imageContainer,
  .imageBigContainer {
    position: relative;
    width: 100%;
    height: 200px;
  }
  .singleBlog .description {
    font-size: 14px;
  }
  .singleBlog pre,
  .singleBlog code {
    font-size: 12px; 

  .titleOverLay {
    font-size: 20px;
  }
}
.singleBlog h3,
.singleBlog h2,
.singleBlog h4 {
  color: var(--main);
  margin: 10px 0;
}
.singleBlog ul li {
  list-style: decimal;
  list-style-position: inside;
}

.singleBlog ul {
  margin: 20px 0;
} */
