.form {
  height: fit-content;
  flex: 0.8;
  box-shadow: 0px 1px 4px 1px var(--btn);
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  padding: 20px 10px;
  border-radius: 10px;
}
.form input,
.form textarea {
  width: 100%;
  padding: 3px 10px;
  outline: none;
  color: black;
  border: 1px solid rgb(197, 193, 193);
  border-radius: 5px;
}
.form textarea {
  min-height: 70px;
}
.form button {
  background-color: var(--btn);
  color: #222;
  padding: 5px;
  border-radius: 20px;
  margin-top: 10px;
}
.form button:disabled {
  background-color: gray;
}
@media (max-width: 992px) {
  .form {
    width: 90%;
    margin: auto;
  }

  .form input,
  .form textarea {
    font-size: 14px;
  }
}
